<html>
    <head>
        <title>flask_dao_template home</title>
    </head>
<body>
    <h3>flask_dao_template home</h3>
    <table>
        <tr>
            <td>
                <img src="static/about16.gif"/>
            </td>
            <td>
            </td>
        </tr>
    </table>
</body>
</html>
